target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.class
*.log
data/
.DS_Store
node_modules/
dist/
cronos-dashboard/node/
.gradle/
build/
